@model IEnumerable<Bug_Tracker.Models.Ticket>

@{
    ViewBag.Title = "ViewTickets";
}

<h2>ViewTickets</h2>

<p>
    @Html.ActionLink("Create New", "TicketSubmission")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TicketName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketDescription)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmitterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmitterEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConfirmEmail)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TicketName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketDescription)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Priority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubmitterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubmitterEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConfirmEmail)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
